*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
body
{
    font-family: 'Josefin Sans', sans-serif !important;
}
.brand{
    position:absolute;
    margin-top:5px;
    left:50%;
    margin-left:-50px !important;
    display:block;
 
}

.navbar-custom
{
    background:linear-gradient(90deg,#0f0c29,#302b63,#0f0c29) !important;
}
.nav-icons
{
    margin-right:5px;
}
::-webkit-scrollbar {
    width: 0;
  }
  
  #progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 8px;
    border-radius: 0 0 0 8px;
    background:linear-gradient(#0f0c29,#302b63,#0f0c29) !important;
    transition: 0.1s;
  }

  #carouselExampleIndicators{
	position: relative;
	height: 100vh;
	width: 100%;
}
#carouselExampleIndicators .carousel-inner{
	position: relative;
	height: 100%;
	width: 100%;
	background: #000;
}
#carouselExampleIndicators .carousel-inner:before{
	position: absolute;
	content: '';
	background: rgba(0, 0, 0, 0.45);
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}
#carouselExampleIndicators .carousel-inner .carousel-item{
	position: relative;
	height: 100%;
	width:100%;
	background: url('./imgs/f1.jpg');
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}
#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(2){
    background: url('./imgs/f2.jpeg');
    background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}
#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(3){
    background: url('./imgs/f3.jpeg');
    background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}

#carouselExampleIndicators .carousel-inner .carousel-item .info{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: auto;
	width: 100%;
	z-index: 1;
	text-align: center;
}
#carouselExampleIndicators .carousel-inner .carousel-item h1{
	height: auto;
	color: #fff;
	width: 100%;
	z-index: 1;
	text-align: center;
	font-size: 5.5em;
	font-weight: 750;
}
#carouselExampleIndicators .carousel-inner .carousel-item p{
	height: auto;
	color: #ccc;
	width: 100%;
	z-index: 1;
	text-align: center;
	font-size: 1.2em;
	font-weight: 500;
}
.testimonials
{
    margin:50px auto;
}
.testimonials h1
{
    color:#1e166d;
    padding-bottom:10px;
    text-transform:uppercase;
}

.testimonials h1::after
{
    content:'';
    background:#1e166d;
    display:block;
    height:3px;
    width:170px;
    margin:20px auto 5px

}
.testimonials .row {
    margin-top:30px;
}
.col-md-4
{
    margin:40px auto;
}

.profile {
    padding:70px 10px;
    background-color:#efefef;
}

.profile img {
    top:-60px;
    position:absolute;
    left:calc(50% - 60px);
    border:10px solid white;
}

.user {
    width:120px;
    height:120px;
    border-radius:50%; 
}
.profile h3 {
    font-size:20px;
    margin-top:15px;
    color:#ff9800;
}
.testimon-jobs{
    font-size:12px;
    color:#333;
}

.custom-border
{
    border:8px solid rgb(28, 245, 75) !important;
    margin-top:-25px;

}

.bg-custom{
    background-color:#1e166d !important;
}
.text-custom{
    color:#1e166d !important;
}
